<h2>Data Binding</h2>

<h3>String Interpolation</h3>
<p>Hola {{nombre}}</p>
<p>Hola {{nombre + '!'}}</p>

<h3>Property Binding</h3>
<button type="button" [disabled]="formularioValido">Haz algo...</button>
<input type="text" [placeholder]="nombre" >
<!-- <input type="text" placeholder="{{nombre}}" > -->

<h3>Event Binding</h3>
<button type="button" (click)="mostrarHolaMundo()">Muestra hola mundo</button>

<h3>Two Way Data Binding</h3>
<input type="text" [value]="nombre" (input)="actualizarNombre($event)">
<input type="text" [(ngModel)]="nombre">